
<div class="row">
  <div class="large-12 columns">
    <div class="small-10  columns">
  <%= form_for(@pain_record) do |f| %>
  <% if @pain_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pain_record.errors.count, "error") %> prohibited this pain_record from being saved:</h2>

      <ul>
      <% @pain_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :pain_record_description %><br>
    <%= f.text_field :pain_record_description %>
  </div>
  <div class="field">
    <%= f.label :pain_record_pain_level %><br>
    <%= f.number_field :pain_record_pain_level %>
  </div>
  <div class="field">
    <%= f.label :pain_record_pain_placement %><br>
    <%= f.text_field :pain_record_pain_placement %>
  </div>
  <div class="field">
    <%= f.label :pain_record_pain_type %><br>
    <%= f.text_field :pain_record_pain_type %>
  </div>
  <div class="field">
    <%= f.label :pain_record_pain_duration %><br>
    <%= f.text_field :pain_record_pain_duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
    </div>
</div>
    </div>