<tr>
  <!--<td><%= pain_record.id %><br>-->
    <!--</td>-->
  <!--<td><%= pain_record.created_at.strftime("%d %b , %Y") %></td>-->
  <!--<td><%= pain_record.had_pain_today %></td>-->
  <!--<td><%= pain_record.limited_activities %></td>-->
  <!--<td><%= pain_record.all_medicines_taken %></td>-->
  <!--<td><%= pain_record.unrelieved_pain %></td>-->
  <!--<td><%= pain_record.how_often_unrelieved_pain %></td>-->
  <!--<td><%= pain_record.is_activity_starting_pain %></td>-->
  <!--<td><%= pain_record.average_pain_level %></td>-->
  <!--<td><%= pain_record.used_other_actions_to_relieve_pain %></td>-->
  <!--<td><%= pain_record.skipped_medicines %></td>-->
  <!--<td><%= pain_record.called_doctor_because_of_pain %></td>-->
  <!--<td><%= pain_record.slept_through_night %></td>-->
  <!--<td><%= pain_record.slept_through_night_disrupted_times %></td>-->
  <!--<td><%= pain_record.slept_hours_night %></td>-->
  <!--<td><%= pain_record.satisfied_with_pain_management %></td>-->
  <!--<td><%= pain_record.acceptable_pain_level %></td>-->
</tr>




