<p id="notice"><%= notice %></p>
<div class="center row">
<h1>Listing Pain Records</h1>

<table>
  <thead>
    <tr>
      <th>Pain level</th>
      <th>Pain placement</th>
      <th>Pain type</th>
      <th>Pain duration</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pain_records.each do |pain_record| %>
      <tr>

        <td><%= pain_record.pain_record_pain_level %></td>
        <td><%= pain_record.pain_record_pain_placement %></td>
        <td><%= pain_record.pain_record_pain_type %></td>
        <td><%= pain_record.pain_record_pain_duration %></td>
        <td><%= pain_record.pain_record_description %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', pain_record %></td>
        <td><%= link_to 'Edit', edit_pain_record_path(pain_record) %></td>
        <td><%= link_to 'Destroy', pain_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pain record', new_pain_record_path %>
</div>