<div class="center row" xmlns="http://www.w3.org/1999/html">
<div class="col-md-8">
<h1>Chronic Pain Manager Report</h1>
<div class="row bump">
  <div class="small-12 large-6 columns">
    <div class="row">
      <div class="profile-card">

        <div class="small-12 large-8 columns">
          <h4><%= @user.user_name %></span></h4>
          <p><i class="fi-mail"></i><span> <%= @user.email %></span></p>

        </div>
        <div class="row collapse">
          <ul class="button-group even-3">
            <li><a href="#" class="button"> User since: <span><h5><%= @user.created_at.strftime("%d %b %y") %> </h5></span></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            new Highcharts.Chart({
                chart: {
                    renderTo: "pain_level",

                },
                title: {
                    text:"Pain Level by Day"
                },
                xAxis: {
                    type: "datetime"
                },
                yAxis: {
                    title: {
                        text: "Pain level"
                    }
                },
                tooltip: {
                    formatter: function() {
                        return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
                                "P Level " + Highcharts.numberFormat((this.y))

                    }
                },





                series: [
                    {
                        name: "Pain Levels",
                        pointInterval: <%= 1.day*1000 %>,
                        pointStart: <%= (3.weeks.ago.to_i*1000) %>,
                        data: <%= (3.weeks.ago.to_date..Date.today).map {
                    |date| @user.pain_intensity_levels.total_on(date)
                    }.inspect %>
                    },{
                        name: "Average Pain Level",
                        pointInterval: <%= 1.day*1000 %>,
                        pointStart: <%= (3.weeks.ago.to_i*1000) %>,
                        data: <%= (3.weeks.ago.to_date..Date.today).map {
                    |date| @user.pain_intensity_levels.average_on(date)
                    }.inspect %>


                }]
            });
        });

</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        new Highcharts.Chart({
            chart: {
                renderTo: "activity_level",

            },
            title: {
                text:"Activity Level By Day"
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: "Activity level"
                }
            },
            tooltip: {
                formatter: function() {
                    return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
                            "P Level " + Highcharts.numberFormat((this.y))

                }
            },





            series: [
                {
                    name: "Activity Levels",
                    pointInterval: <%= 1.day*1000 %>,
                    pointStart: <%= (3.weeks.ago.to_i*1000) %>,
                    data: <%= (3.weeks.ago.to_date..Date.today).map {
                    |date| @user.activity_levels.total_on(date)
                    }.inspect %>
                },{
                    name: "Average Activity Level",
                    pointInterval: <%= 1.day*1000 %>,
                    pointStart: <%= (3.weeks.ago.to_i*1000) %>,
                    data: <%= (3.weeks.ago.to_date..Date.today).map {
                    |date| @user.activity_levels.average_on(date)
                    }.inspect %>


                }]
        });
    });

</script>

<div class="custom-panel">
<div class="row">
  <div class="large-6 columns">
    <div class="center row">
    <div id="pain_level" style="width:300px;height:200px"></div>
  </div>
  </div>
  <div class="large-6 columns">
    <div id="activity_level" style="width:350px;height:200px"></div>
  </div>
</div>
</div>
<% @user.diaries.each do |diary| %>

    <div class="custom-panel">

      <div class="panel callout radius">
        <h5><strong>NR: <%= diary.id %> Created at:</strong> <%= diary.created_at.strftime("%d %b %y, %I:%M %p") %></h5>
        <%= #link_to 'Download Report', diaries_path(format: 'pdf') %>
      </div>

      <div class="row">
        <% if diary.pain_onset_trackers.any? %>
            <div class="large-3 columns">
              <div class="custom-panel">
               <div class="report_label"> Pain Onset speed</div><br>
                <% diary.pain_onset_trackers.each do |pain_onset| %>
                    <div class="report_onset"><%= pain_onset.pain_onset_speed %></div><br><i class="fa fa-clock-o big brown"></i><br>
                <% end %>            </div>
            </div>
        <% end %>
        <div class="large-3 columns">
          <div class="custom-panel">
            <div class="report_label">Pain Triggers</div>
            <% diary.pain_triggers.each do |pain_trigger| %>
                <% pain_trigger.name.each do |name| %>
                    <strong><%= name %></strong><br>

                <% end %><br>
            <% end %>          <i class="fa fa-exclamation-triangle big red"></i>  </div>
        </div>
        <div class="large-3 columns">
          <div class="custom-panel">
            <div class="report_label">Pain Intensity Level</div><br>

            <% diary.pain_intensity_levels.each do |intensity_level| %>
                <div class="pain_intensity"><%= intensity_level.intensity_level %></div><br><i class="fa fa-bolt big red"></i></i>

                <br>
            <% end %>          </div>
        </div>
        <div class="large-3  columns">
          <div class="custom-panel">
            <div class="report_label">Pain Name (description)</div><br>
            <% diary.pain_descriptions.each do |pain_description| %>
                <strong>  <%= link_to pain_description.description_name, pain_descriptions_path %></strong>   <br>
            <% end %>            </div>
        </div>

      </div>

      <div class="row">

        <div class="large-3 columns">
          <div class="custom-panel">
            <div class="report_label">Activity Level</div><br>
            <% diary.activity_levels.each do |activity| %>
                <div class="report_activity"><%= activity.act_level %></div><br><i class="fa fa-smile-o big"></i><br>
            <% end %>               </div>
        </div>
        <div class="large-3 columns">
          <div class="custom-panel">
            <div class="report_label">Effective Treatments</div>
            <% diary.effective_treatments.each do |effective_treatment| %>
                <% effective_treatment.name.each do |name| %>
                    <strong><%= name %></strong><br>

                <% end %><br><i class="fa fa-medkit big green"></i></i>
            <% end %>            </div>
        </div>
        <% if diary.mental_states.any? %>
            <div class="large-3 columns">
              <div class="custom-panel">
                <div class="report_label">Mental State</div><br>

                  <% diary.mental_states.each do |state| %>
                      Disposition:<strong> <%= state.disposition %></strong><br>
                      Stress Level:<strong> <%= state.stress %></strong><br>
                      Mood Stability: <strong><%= state.mood_stability %></strong><br>
                  <% end %>

              </div>
            </div>
        <% end %>
        <% if diary.other_symptoms.any? %>
            <div class="large-3 columns">
              <div class="custom-panel">
                <div class="report_label">Other Symptoms</div>
                <% diary.other_symptoms.each do |other_symptom| %>
                    <% other_symptom.symotom_name.each do |symotom_name| %>
                        <strong><%= symotom_name %></strong><br>

                    <% end %><br>
                <% end %>            </div>
            </div>
        <% end %>



      </div>
      <div class="row">


        <% if diary.pain_durations.any? %>
            <div class="large-3 columns">
              <div class="custom-panel">
                <div class="report_label">Pain Duration</div>
                <p>(the longest is 5 and shortest is 1)</p>
                <% diary.pain_durations.each do |pain| %>
                    <div class="report_duration"><%= pain.duration_level %></div>
                <% end %><br>  </div>
            </div>
        <% end %>




      </div>


    </div>
<% end %>


<% if @user.pain_records.any? %>
    <h3>Painrecords (<%= @user.pain_records.count %>)<br> Average pain level: <%= @user.average_pain  %></h3>
    <ol class="painrecords">
      <div class="row">

        <div class="large-6 columns">
          <div class="panel">
            <h5>Days with Pain vs Days Without Pain</h5>

            <%= column_chart PainRecord.group(:had_pain_today).count %>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>Normal vs Limited activity</h5>

            <%= pie_chart PainRecord.group(:limited_activities).count %>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="large-6 columns">
          <div class="panel">
            <h5>What activities are affected the most by pain</h5>

            <%= pie_chart PainRecord.group(:limited_activities_name).count %></div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>Your medicine schedule adherence</h5>

            <%= pie_chart PainRecord.group(:all_medicines_taken).count %>
          </div>
        </div>


      </div>
      <div class="row">

        <div class="large-6 columns">
          <div class="panel">
            <h5> Times when your pain wont go away</h5>

            <%= pie_chart PainRecord.group(:unrelieved_pain).count %>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>Your Pain Triggers</h5>

            <%= pie_chart PainRecord.group(:activity_starting_pain_name).count %>
          </div>
        </div>


      </div>
      <div class="row">

        <div class="large-6 columns">
          <div class="panel">
            <h5> Your average pain level</h5>

            <%= pie_chart PainRecord.group(:average_pain_level).count %>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>have you skipped your medicines</h5>

            <%= pie_chart PainRecord.group(:skipped_medicines).count %>
          </div>
        </div>


      </div>

      <div class="row">

        <div class="large-6 columns">
          <div class="panel">
            <h5>Your acceptable pain level</h5>


            <%= pie_chart PainRecord.group(:acceptable_pain_level).count %>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>What you do to relieve pain</h5>


            <%= pie_chart PainRecord.group(:other_actions_to_relieve_pain_name).count %>
          </div>
        </div>


      </div>







      <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th width="50">Id</th>-->
      <!--<th>Date</th>-->
      <!--<th width="50">Had Pain</th>-->
      <!--<th width="50">Skipped Activities</th>-->
      <!--<th width="50">All med.Taken</th>-->
      <!--<th width="50">Had unrelieved pain</th>-->
      <!--<th width="50">Unrelieved pain ocured n times</th>-->
      <!--<th width="50">Activity started pain</th>-->
      <!--<th width="50">Avg Pain Level</th>-->
      <!--<th width="50">Other actions to relieve pain</th>-->
      <!--<th width="50">skipped medicines</th>-->
      <!--<th width="50">Called doctor because of pain</th>-->
      <!--<th width="50">Slept all night</th>-->
      <!--<th width="50">Wake up through night</th>-->
      <!--<th width="50">Times woken up</th>-->
      <!--<th width="50">Satisfied with pain mngment</th>-->
      <!--<th width="50">Acceptable pain level</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--#<%= render @user.pain_records %>-->
      <!--</tbody>-->
      <!--</table>-->

    </ol>
    <%= will_paginate @pain_records %>
<% end %>
</div>
<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Fibrotrust.</p>
      </div>
      <!--<div class="large-6 columns">-->
        <!--<ul class="inline-list right">-->
          <!--<li><a href="#">Section 1</a></li>-->
          <!--<li><a href="#">Section 2</a></li>-->
          <!--<li><a href="#">Section 3</a></li>-->
          <!--<li><a href="#">Section 4</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</footer>
</div>