<p id="notice"><%= notice %></p>

<p>
  <strong>Diary:</strong>
  <%= @effective_treatment.diary.id %>
</p>
<p>
  <strong>Name:</strong>
  <%=     @effective_treatment.name.each do |name| %>
      <strong><%= name %></strong><br>

  <% end %><br><i class="fa fa-medkit big green"></i></i>
</p>




<%= link_to 'Edit', edit_effective_treatment_path(@effective_treatment) %> |
<%= link_to 'Back', effective_treatments_path %>
